body {
    background: #f4f6f9;
}
.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
button {
    border-radius: 8px !important;
}

.ticket-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.qr-section img {
    border: 2px solid #eee;
    padding: 5px;
    border-radius: 8px;
   
}

.info-section {
    font-size: 14px;
}

.info-section p {
    margin: 5px 0;
}

.ticket-table {
    width: 100%;
    max-width: 500px;
    border: 1px solid #080707;
    border-collapse: collapse;
    margin: 50px 0;
    background: #0d0c0c;
}

.ticket-table td {
    padding: 15px;
    vertical-align: middle;
    
}

.ticket-details {
    width: 70%;
}

.ticket-qr {
    text-align: center;
    width: 30%;
}

.ticket-qr img {
    border: 2px solid #080808;
    padding: 30px;
    margin-left: 50px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}



