{% extends 'base.html' %}
{% block content %}
<script 
  src="https://www.paypal.com/sdk/js?client-id=BAAxKpjvg7kl8mzRn32vn9yEhbZVuOxQx673QgaCfqppynUFvEKlbfDOgZICaXUQ6ck4zp4Hec4d-W0N3o&components=hosted-buttons&disable-funding=venmo&currency=USD">
</script>
<style>
     body{

   

           background: url("{{ url_for('static', filename='image/image5.jpeg') }}");
           background-repeat: no-repeat;
           background-size: cover;

           min-height: 250vh;
        overflow-y: scroll
    }
      form {
        max-width: 500px;
        margin: 20px auto;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }



</style>
<nav>
    <div style="text-align: left; margin: 10px;">
    <a href="{{ url_for('user_dashboard') }}" class="btn btn-secondary">
        ← Back to Home
    </a>
</div>
<form method="POST">
     <h1 style="text-align: center;">Payments</h1>


<div id="paypal-container-J3J659FEXXZMN"></div>
<script>
  paypal.HostedButtons({
    hostedButtonId: "J3J659FEXXZMN",
  }).render("#paypal-container-J3J659FEXXZMN")
</script>



</form>
{% endblock %}
