{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background: url("{{ url_for('static', filename='image/image2.jpeg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        min-height: 100vh;
        margin: 0;
    }

    /* Center content perfectly on all screens */
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }

    .btn-buy {
        background-color: #28a745;
        color: white;
        border: none;

        /* Responsive sizing */
        padding: 15px 30px;
        font-size: 28px;
        font-weight: bold;
        border-radius: 10px;

        animation: glow 2s infinite;
        transition: all 0.3s ease;
    }

    .btn-buy:hover {
        background-color: #28a745;
        color: white;
        transform: scale(1.08);
    }

    /* Glow animation */
    @keyframes glow {
        0% {
            box-shadow: 0 0 5px #28a745;
        }
        50% {
            box-shadow: 0 0 25px #28a745, 0 0 50px #28a745;
        }
        100% {
            box-shadow: 0 0 5px #28a745;
        }
    }

    

    @media (max-width: 768px) {
    .page-wrapper {
        background-size: contain;
        background-color: black; /* fills empty space */
    }
}
</style>

<div class="center-container">
    <a href="/dashboard" class="btn btn-buy">BUY TICKET</a>
</div>

{% endblock %}
