{% extends 'base.html' %}
{% block content %}


<form method="POST">
    <h1 style="text-align: center;">Register</h1>
<input name="name" class="form-control mb-2" placeholder="Name" required>
<input name="surname" class="form-control mb-2" placeholder="Surname" required>
<input name="email" class="form-control mb-2" placeholder="Email" required>
<input name="password" type="password" class="form-control mb-2" placeholder="Password" required>
<button class="btn btn-success">Register</button>
</form>
{% endblock %}